@charset "utf-8";
/* CSS Document */

/*mod_adaptive*/
.mod_adaptive .hd,.mod_adaptive .lt,.mod_adaptive .rt,.mod_adaptive .fd,.mod_adaptive .rb,.mod_adaptive .lb{height:35px; background-image:url(../images/mod_box.png); background-repeat:no-repeat;}
.mod_adaptive .hd{ background-position:0 0; padding:0 42px;}
.mod_adaptive .lt{ background-position:0 -35px; background-repeat:repeat-x;display:block;}
.mod_adaptive .rt{ background-position:right -70px;display:block;margin:-35px -42px 0 0}
.mod_adaptive .hd_t{ margin-bottom:-35px; height:35px; line-height:35px;}
.mod_adaptive .fd{ background-position:0 -105px; padding:0 42px;height:30px;}
.mod_adaptive .lb{ background-position:0 -135px; background-repeat:repeat-x;display:block;height:30px;}
.mod_adaptive .rb{ background-position:right -165px;display:block;margin:-30px -42px 0 0;height:30px;}

.mod_adaptive .bd{ background:#f8fefe;}
.mod_adaptive .bd_l{ background:url(../images/mod_box_l.png) repeat-y 0 0;}
.mod_adaptive .bd_r{ background:url(../images/mod_box_r.png) repeat-y right 0;}

