@charset "utf-8";
/* CSS Document
Use for: webos
Version: 1.0
Date:	2012-08-11
Author:	f2er
*/

@import "static/css/QCss.css";

html,body{ overflow:hidden;height:100%;width:100%;}

.topbar{ height:40px;line-height:40px;background:rgba(0,0,0,0.5);width:100%;}










