/* CSS reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
del, ins { text-decoration: none }
fieldset, img { border: 0; }
button,input,select,textarea{font:12px tahoma,arial,\5b8b\4f53;}
input,select,img{ vertical-align:middle}
input,select{ outline:none}
ul,ol{ list-style:none }
label{ cursor:pointer}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address,cite,dfn,em,var{font-style:normal;}

/* global */
body{ background:#fff; font:12px/1.5 Arial,SimSun; }

td{ font-size:12px; line-height:160%;}
.left{ float:left }
.right{ float:right }
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.txthide{ text-indent:-999em;overflow:hidden; line-height:0; font-size:0}
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.clear{ clear:both }


/*update by  yufang 12-02-29 */
.sns_textscroll{ padding:0 0 8px 100px; width:522px;  height:24px; overflow:hidden; line-height:24px;}
.text_scroll_bx{ height:24px;width:470px; overflow:hidden;}
.out_face_hd .sns_textscroll h2{ float:left; *display:inline; margin-left:-75px; }


.ser_out_face{width:622px;position:absolute; left:50%; margin-left: -311px; top:95px; filter:alpha(opacity=90);opacity:.9;}

.out_face_hd,.out_face_bd,.out_face_fd{ background-image:url(../images/out_face_bg.png); background-repeat:no-repeat;}
.out_face_hd{ padding:10px 0 0; height:30px; overflow:hidden;}
.out_face_hd,.out_face_hd a{ color:#ead8ff;}
.out_face_hd a{ margin:0 5px}
.out_face_hd .username{ margin-right:10px;}
.out_face_bd{ background-position:-622px 0; padding:0 13px; background-repeat:repeat-y;}
.out_face_fd{ background-position:-1244px bottom; padding-bottom:30px;}

/* store_btn */
.store_btn{background:url(../images/store_btn.jpg) no-repeat; }
.sns_textscroll h2{color:#f0f47b;}
.text_scroll_bx{ height:24px;overflow:hidden; }
.text_scroll_bx a{ color:#318fd2; overflow:hidden; height:24px; display:block; }
.text_scroll_bx a:hover{ color:#ffff00}

.m_server  .m_server_hd,.m_server .m_server_bd,.m_server  .m_server_fd{ background-image:url(../images/bgsprite.png); background-repeat:no-repeat;}
.m_server  .m_server_hd{ background-position:0 0; width:596px; height:10px; color:#318fd2; overflow: hidden;}

.select_ser{ position:relative;}
.m_server_bd h2,.server_ul a,.select_ser a{ background-image:url(../images/new_ser.png); background-repeat:no-repeat;}
.alert_w{ background:url(../images/alert_bg.png) no-repeat; width:192px; height:42px; text-align:center; padding-top:10px; overflow:hidden; position:absolute; top:-47px; color:#2b2b2b; font-size:14px;}
.server_ul li{ float:left;*display:inline;*zoom:1; overflow:hidden;}
.m_server_bd h2{ float:left; width:140px; height:36px; overflow:hidden; text-indent:-999em;}

.m_server  .m_server_bd{ background-position:-596px 0; width:581px; padding-left:15px; background-repeat:repeat-y;}
.m_server  .m_server_bd a:hover{ text-decoration:none;}
.m_server  .server_box{ height:160px; position:relative; zoom:1; overflow:hidden;width:575px;}

/*m_recommed_ser*/
.m_recommed_ser h2{ height:25px; background-position:0 -2px;}
.m_recommed_ser li{ margin:5px 20px 5px 0;}
.m_recommed_ser li a{ display:block;background-position:0 -72px;width:222px; height:30px; overflow:hidden; padding:24px 0 0 40px; font-size:16px; font-weight:700;  color:#fff;}
.m_recommed_ser li a:hover{background-position:0 -126px;}

/*m_played_ser*/
.m_played_ser h2{ background-position:0 -36px;}
.m_played_ser li,.m_all_ser li{ margin:5px 14px 5px 0;}
.m_played_ser li a{ display:block;background-position:0 -181px;width:165px; height:30px; overflow:hidden; text-align:center; color:#461d00; line-height:30px;}
.m_played_ser li a:hover{ background-position:-165px -181px;}

/*m_all_ser*/
.server_all  .server_box{ height:80px; position:relative; zoom:1; overflow:hidden;width:575px;}
.m_all_ser h2{ background-position:-145px 0;}
.select_ser{ *display:inline; *zoom:1; margin-right:75px; padding:10px 0 0; height:26px;  color:#41135f;}
.select_ser .ser_txt{ border: solid #b7856a 1px; background-color:#fdeecd; width:30px; text-align:center;height:16px; line-height:16px; overflow:hidden; display:inline-block; *zoom:1;*display:inline;}
.select_ser a{ background-position:-145px -37px; display:inline-block;*display:inline;*zoom:1; width:44px; height:21px; text-indent:-999em;}
.select_ser a:hover{ background-position:-189px -37px}
.m_all_ser li{ width:165px; height:30px; overflow:hidden; line-height:30px;}
.m_all_ser li a{ background-position:0 -211px; display:block; width:155px; height:100%;padding-left:10px;color:#461d00;}
.m_all_ser li a:hover{ background-position:-165px -211px;}
.m_all_ser .nopen a,.m_all_ser .nopen a:hover{ background-position:-165px -241px;}
.m_all_ser .crowd a,.m_all_ser .crowd a:hover{ background-position:0 -241px;}
.m_all_ser .weihu a,.m_all_ser .weihu a:hover{ background-position:0 -271px;}
.m_server  .m_server_fd{background-position:-1192px bottom; width:596px; height:20px;}

/*scrollbar*/
.jScrollPaneContainer {overflow: hidden;position: relative;z-index: 1;}
.jScrollPaneTrack { background: #56a232;cursor: pointer; height: 100%;position: absolute;right: 0;top: 0;}
.jScrollPaneDrag {background:#03630c;cursor: pointer;overflow: hidden;position: absolute;}
.jScrollPaneDragTop { left: 0; overflow: hidden;position: absolute;top: 0;}
.jScrollPaneDragBottom {bottom: 0;left: 0; overflow: hidden; position: absolute;}
a.jScrollArrowUp { display: block; height: 12px; overflow: hidden; position: absolute; right: 0; text-indent: -2000px; top: 0; z-index: 1;}
a.jScrollArrowDown { bottom: 0; display: block;  height: 12px; overflow: hidden; position: absolute; right: 0; text-indent: -2000px; z-index: 1;}
a.jScrollArrowUp { background:url(../images/new_ser.png) no-repeat  -288px 0;}
a.jScrollArrowDown { background: url(../images/new_ser.png) no-repeat  -305px 0;}
a.jScrollArrowUp:hover { background-position: -288px -12px;}
a.jScrollArrowDown:hover { background-position: -305px -12px;}
.orange-bar .jScrollPaneTrack { background: none repeat scroll 0 0 #e3dab5;}
.orange-bar .jScrollPaneDrag { background: 50% 50% #c88d00;}
.orange-bar .scroll-pane { background: none repeat scroll 0 0 #6699FF;}


