@charset "utf-8";
/* CSS Document 
Use for:	www.f2er.net
Version:	1.0
Date:		2012/08/01
Author:		情封
*/

body{background:#E0E0E0}
.article_wrap{ width:980px;margin:60px auto 0;}

.box_article{ line-height:2;}
.box_article dt{font-size:16px;}
.box_article dd{ padding-left:2em;}
.box_article a{color:#333;}

.article{ line-height:2;}
.article dt{font-weight:700}
.article dd{}
.article p{ text-indent:2em;}

.article_box{ background:#fff;border-radius:5px;box-shadow:0 2px 5px rgba(0,0,0,0.15);broder-bottom:2px solid #E2E2E9}
