@charset "utf-8";
/* CSS Document */

/*ui_imgText*/
.ui_imgText{ padding:0 0 0 116px; zoom:1; line-height:20px;}
.ui_imgText .img{ float:left;width:106px; margin:0 0 0 -116px;display:inline;}
.ui_imgText h3{}
.ui_imgText h3 a{ color:#F49B00;}
.ui_imgText p{ color:#666;}
