@charset "utf-8";
/* CSS Document */

/*ui_crumbs*/
.ui_crumbs{ color:#999 ;}
.ui_crumbs .divider{ padding:0 5px;}
.ui_crumbs a{ color:#1c8ed3;}
.ui_crumbs .bk{ font-weight:700;}
.ui_crumbs a:hover{ color:#f58220;}

