@charset "utf-8";
/* CSS Document */

.ui_tab{ overflow:hidden;}
.ui_tab li{ float:left; border-left:1px solid #cfe3f1; padding:0 10px;display:inline; margin:8px 0 13px -1px;}
.ui_tab a{width:74px;height:33px;display:block; margin:-8px 0 -13px; text-align:center;line-height:28px;color:#1c8ed3;text-decoration:none;}
.ui_tab .cur a{background:url(ox.png) 0 0 no-repeat;color:#555}