/*add by Lj*/
/* navb */
.navb{ background:url(../images/nav.jpg) no-repeat 0 -126px; width:1002px; height:71px; margin:0 auto;}
.navbli{ color:#955627; padding:10px 0 0 40px;}
/* bshare */
#bshare{ background:url(../images/icon.png) no-repeat; padding-left:5px}
#bshare .bshare_t{ color:#a26f4a; margin:10px 0 0 5px;}
#bshare_p{ padding:10px 0 0 5px;}
/* sehbx */
.sehbx{ width:363px; margin:10px 40px 0 0;}
.search{ width:363px; height:27px; background:url(../images/fence.jpg) no-repeat -406px -182px;}
.sehtxt{ width:273px; height:17px; line-height:16px\9; padding:5px 10px; color:#762600; background:transparent; border:0;}
.sehbtn{ width:64px; height:25px; background:transparent; border:0; cursor:pointer;}
.sehhot{ color:#955627; padding-top:4px; width:363px; height:18px;}