@charset "utf-8";
/* CSS Document 
Use for:	www.f2er.net
Version:	1.0
Date:		2012/08/013
Author:		情封
*/
body{background:#ededed;font:500 14px/1.8 'Hiragino Sans GB', sans-serif;}

.article_wrap{ margin:80px auto 20px; width:1000px;}

.name{color:#f00;}