@charset "utf-8";
/* CSS Document 
Use for:	www.f2er.net
Version:	1.0
Date:		2012/03/19
Author:		f2er
Update:     
*/
.mt10{ margin-top:10px;}
.ferule{ line-height:2;width:1000px; font-size:14px;}
.ferule p,.ferule h3{ text-indent:2em;}
.fe_tb table{ width:100%;}
.fe_tb th{ border-right:1px solid #ddd;border-bottom:1px solid #ddd; width:30%; padding:5px 0;}
.fe_tb td{ border-bottom:1px solid #ddd; padding:5px 0;}