@charset "utf-8";
/* CSS Document */

/*mod_imghormid*/
/*font-size:¸ß¶È*0.873*/
.mod_imghormid{ width:114px; height:84px;display: table-cell;vertical-align:middle;text-align:center;*display: block;*font-size: 73px;*font-family:Arial; border:2px solid #D4A38A;}
.mod_imghormid img{ vertical-align:middle;}
