@charset "utf-8";
/* CSS Document */

/*ui_form*/
.ui_form{}
.ui_form .ui_item{ padding:0 0 0 100px;}
.ui_form .label{ float:left;width:90px;text-align:right; height:22px; line-height:22px; margin-left:-100px;display:inline;}
.ui_form .ipt_txt{ border:1px solid #cfcfcf; border-radius:5px;outline:none;padding:5px 3px;}