.no-support-message { display:none; }
 .impress-not-supported .no-support-message { display:block; }
/* additional styles just to make things look a bit nicer */
*{ margin:0; padding:0; font:16px/24px "Microsoft YaHei","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
body { background:#EBEBEB;  color:#333; }
.step { width:940px; margin:0 auto 24px auto; text-align:left; }


.stp_1{}
.stp_1 h1{font-size:32px; margin-bottom:35px;}
.stp_1 h2{ margin:0 0 10px 20px;}

.stp_2 h2{ font-size:28px; margin-bottom:35px;}
.stp_2 .pic{ margin:10px 0 0 20px;}
.stp_2 .pic p{ margin-bottom:10px; font-size:14px;}

.wc{ font-size:32px; color:#f00; text-align:center;}