@charset "utf-8";
/* CSS Document 
Use for:	
Version:	1.0
Date:		2012/06/14
Author:		情封
Update:     
*/



/*q_week*/
.q_week{ width:600px;margin:0 auto;}
.q_week .dm_hd{ height:32px;border:1px solid #ddd; line-height:32px;padding:0 10px;color:#f00;font-size:14px;}
.q_week .q_twbox{ border-color:#e9e9e9;border-style:solid;border-width:0 1px 1px;padding:0 10px 10px;zoom:1;background:#fff}

.q_tabweek{ background:#f7f7f7;border-width:0 1px 1px; border-style:solid;border-color:#f7f7f7 #e9e9e9 #dbdbdb;height:37px;padding:0 5px;}
.q_tabweek li{ float:left;width:26px;height:29px;color:#389ce4; margin-right:5px;display:inline; padding-top:5px;cursor:pointer;}
.q_tabweek .cur{ color:#f00;text-align:center;font-weight:700;}

/*q_list*/
.q_list a{/*display:block;*/zoom:1;color:#4f4f4f;white-space:nowrap;overflow: hidden;}
.q_list a:hover{ color:#01b4ff;}
/*.q_list{ overflow:hidden;height:344px;}  */

.q_list li{ /*border-bottom:1px dashed #bcbcbc;*/zoom:1;overflow:hidden;/*margin-top:-1px;*/height:39px;line-height: 39px;  }
.q_list li:nth-child(odd){ background:#f0eabd}
.q_list li:nth-child(even) { background:#f0c878}
.q_list .nr{ float:right;color:#9c9c9c;line-height:39px;overflow:hidden;}
.q_list .nr em{ color:#01b4ff;font-weight:700;}
.tt{ color:#ff7800;}
/*q_page*/
.btn_left,.btn_right,.btn_left_disable,.btn_right_disable{width:20px;height:20px;background:#f00;margin:10px 10px 0;text-align:center;cursor:pointer;}
.btn_left_disable,.btn_right_disable{background:#ddd;cursor: default;}
.q_page,.btn_left,.btn_right,.btn_left_disable,.btn_right_disable{float:right;}
.q_page{ text-align:right; margin-top:10px;letter-spacing:-4px;word-spacing:-4px;font-size:0;}
.q_page li{text-align:center;line-height:17px; width:17px;height:17px;display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;font-size:12px;background:#d4d4d4;vertical-align: middle;margin-left:10px;color:#fff;cursor:pointer;}
.q_page .cur{ background:#389ce4;}

.q_wlist{ overflow:hidden;height:320px;}


