/************
  to:排行
  add by Lj
  Time: 12-04-07
***********/
/* rq */
.rq{ width:207px; margin:0 auto;}
.rq_hd{ background:url(../images/btn.jpg) no-repeat; width:215px; height:52px; margin-left:-4px; position:relative;}
.rq_bd{ background:url(../images/y.png) repeat-y -2708px 0;}
.rq_fd{ background:url(../images/fence.jpg) no-repeat -698px -163px; height:18px; overflow:hidden;}
.rq_ul{ width:191px; margin:0 auto; padding:2px 0;}
.rq_ul li a{ display:block; width:100%; height:27px; line-height:27px; overflow:hidden; color:#00000b;}
.rq_ul li a:hover{ background:#ae7429; text-decoration:none; color:#f8eeca;}
.rq_ul li a span{ margin:0 10px; font-style:italic; font-size:14px; font-weight:900; font-family:"arial"; color:#610903;}
.rq_ul li a:hover span{ color:#f8eeca;}