/*add by Lj*/
img{ border:0;}
a{ text-decoration:none;}
.cfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.cfix{ zoom:1;}
.container{ background:#400209; font:12px/1.6 "Sim Sun",arial; color:#fff; width:800px; overflow:hidden; margin:10px auto 0; padding:30px 0;}
.pg{ overflow:hidden; text-align:center;}
.pg a, .pg .cur { display: inline-block; width:18px; height:18px; line-height:18px; overflow:hidden; vertical-align:middle; margin:0 5px; border-radius: 3px 3px 3px 3px; color:#9F633F;}
.pg a:hover, .pg .cur{ background:#F29000; color:#400209; text-decoration:none;}
.pg span.prev, .pg span.next, .pg a.prev, .pg a.next, .pg .zong{ background:url(../image/btn.jpg) no-repeat; color:#4b0009; display:inline-block;font-weight:bold; width:69px; height:26px; line-height:26px; line-height:28px\9; *line-height:30px; overflow:hidden; margin:0 5px; vertical-align:middle;}
.pg a.prev:hover, .pg a.next:hover, .pg .zong{ background: url(../image/btn.jpg) no-repeat -68px 0; color:#f2a12d; text-decoration:none;}
.pg .zong span{ vertical-align:baseline;}