/*
 * 游戏指数
*/

*{ margin:0;padding:0; font-size:12px; line-height:18px;}
table{ border-collapse: collapse; border-spacing: 0;}
li{ list-style:none;}
.gameBox{ position: relative;float:left; margin:20px 0 0 20px;width:800px;height:700px;border:1px solid #ddd;}
#gameMap{ height:600px; background:url(m/map.png) no-repeat;-webkit-background-size:800px 600px; position:relative; /*margin:50px 0 0 20px; margin:40px auto;*/}
    	
/*地区*/
.province{ width:800px;height:600px; background-repeat: no-repeat; position:absolute;left:0;top:0;}

#xj{ background-image:url(m/xj.png);} /*新疆*/
#xz{ background-image:url(m/xz.png);}  /*西藏*/
#qh{ background-image:url(m/qh.png);}  /*青海*/
#gs{ background-image:url(m/gs.png);}  /*甘肃*/
#nmg{ background-image:url(m/nmg.png);}  /*内蒙古*/
#hlj{ background-image:url(m/hlj.png);}  /*黑龙江*/
#jl{ background-image:url(m/jl.png);}  /*吉林*/
#ln{ background-image:url(m/ln.png);}  /*辽宁*/
#sc{ background-image:url(m/sc.png);}  /*四川*/
#sx{ background-image:url(m/sx.png);}  /*陕西*/
#js{ background-image:url(m/js.png);}  /*江苏*/
#zj{ background-image:url(m/zj.png);}  /*浙江*/
#tw{ background-image:url(m/tw.png);}  /*台湾*/
#ah{ background-image:url(m/ah.png);}  /*安徽*/
#fj{ background-image:url(m/fj.png);}  /*福建*/
#jx{ background-image:url(m/jx.png);}  /*江西*/
#gd{ background-image:url(m/gd.png);}  /*广东*/
#hn{ background-image:url(m/hn.png);}  /*海南*/
#gx{ background-image:url(m/gx.png);}  /*广西*/
#hun{ background-image:url(m/hun.png);}  /*湖南*/
#gz{ background-image:url(m/gz.png);}  /*贵州*/
#yn{ background-image:url(m/yn.png);}  /*云南*/
#nx{ background-image:url(m/nx.png);}  /*宁夏*/
#shx{ background-image:url(m/shx.png);}  /*山西*/
#hen{ background-image:url(m/hen.png);}  /*河南*/
#hb{ background-image:url(m/hb.png);}  /*湖北*/
#cq{ background-image:url(m/cq.png);}  /*重庆*/
#heb{ background-image:url(m/heb.png);}  /*河北*/
#tj{ background-image:url(m/tj.png);}  /*天津*/
#bj{ background-image:url(m/bj.png);}  /*北京*/
#sd{ background-image:url(m/sd.png);}  /*山东*/
#sh{ background-image:url(m/sh.png);}  /*上海*/

.tipNum{ font-size:24px;color:#ff5500;font-weight:700;padding:20px 0;text-align:center;}
#j_total{ 
        color:#000;
        font-size:24px;
        padding:0 10px;
        font-family: Constantia,Georgia
    }
/*动画*/
@-webkit-keyframes showPop{
    0%{ background:#000;opacity:0;font-size:2px;}
    25%{ background:#000;opacity:0.4;font-size:6px;}
    50%{ background:#000;opacity:0.6;font-size:8px;}
    75%{ background:#000;opacity:0.8;font-size:10px;}
    100%{ background:#000;opacity:1;font-size:12px;}
}

/*提示框*/
.indexPop{

    position:absolute;
    padding:5px;
    width:50px;
    background:#000;
    border:2px solid #fff;
    height:50px;
    /*bottom:50px;
    right:-55px;*/ /* (width+padding-contentWidth)/2*/
    color:#fff;
    text-align:center;
    -webkit-border-radius:100px;
    -webkit-transform-origin:center center;
    -webkit-transform: scale(1,1); /* Safari and Chrome */
    -webkit-animation:showPop linear 1s;
    /*text-indent:-999em;
    overflow:hidden;*/
}


/*列表*/
.gameList{ width:800px; float:left;margin:20px 0 0 20px; /* margin:0 auto; position:absolute;right:20px;top:20px;*/}
.gameList table{ width:100%; border:1px solid #ddd;}
.gameList th,.gameList td{ padding:5px 0;}
.gameList th{ background:#ddd;}
.gameList td{ border-bottom:1px solid #ddd;}
.gameList tr:hover td{ background:#f5f4f4;}
.gameList .area{ width:20%;}
.gameList .game{ width:40%;}
.gameList .time{ width:20%;}
.gameList .ratio{ width:20%;}
.gameList .rd{ background:#f00;height:24px; width:10%; line-height:24px;color:#000;}
.gameList .ctime{ text-align:right;margin-top:10px;}