@charset "utf-8";
/* global */
body{ background:#fefbeb; font-family:"simsun,Microsoft YaHei"}
.wrapper{ margin:0 auto;text-align:left;width:980px;}
.mt10{ margin-top:10px;}
#loginDiv{left:53%}

/*full_bg*/
.full_bg{ background:url(../images/full_bg.jpg) no-repeat center top;}
.mod_server,.mod_phone,.mod_desc a,.mod_desc{ color:#4c4c4c;}

/*mod_head*/
.header{ position:relative;}
.header .bg1,.header .bg2,.header .bg3{ background-position:center top;background-repeat:no-repeat;}
.header .bg1{ background-image:url(../images/bg1.jpg); height:155px;}
.header .bg2{ background-image:url(../images/bg2.jpg); height:155px;}
.header .bg3{ background-image:url(../images/bg3.jpg); height:154px;}
.header .bg4{ background-image:url(../images/bg4.jpg); height:155px;}

.main_hd,.main_bd,.main_yd{ background-image:url(../images/main_bg.png); background-repeat:no-repeat;}
.main_hd{ padding:36px 13px 0;}
.main_bd{ background-position:-980px 0; background-repeat:repeat-y;}
.main_yd{background-position:-1960px bottom; padding-bottom:20px;}

.wg_box .hd,.wg_box .lt,.wg_box .rt,.wg_box .fd,.wg_box .rb,.wg_box .lb{height:53px; background-image:url(../images/mod_box.jpg);}
.wg_box .hd{ background-position:0 0; padding:0 29px;}
.wg_box .lt{ background-position:0 -53px;}
.wg_box .rt{ background-position:right -106px;margin:-53px -29px 0 0}
.wg_box .hd_t{ margin-bottom:-53px; height:40px; padding-top:13px; position:relative;}
.wg_box .fd{ background-position:0 -159px; padding:0 29px;height:21px;}
.wg_box .lb{ background-position:0 -180px; height:21px;}
.wg_box .rb{ background-position:right -201px;margin:-21px -29px 0 0;height:21px;}
.wg_box .bd{ background:#fff; zoom:1}
.wg_box .bd_l{ background:url(../images/mod_box_l.jpg) repeat-y 0 0;}
.wg_box .bd_r{ background:url(../images/mod_box_r.jpg) repeat-y right 0; padding:0 25px;}
.wg_box .hd_t h2{ background:url(../images/m_sprite.png)  no-repeat; width:76px; float:left; padding-left:35px; height:29px; color:#8f4d03; display:block;line-height:32px; font-size:14px;font-family:"microsoft Yahei,simsun"}
.wg_box .hd_t a.ht_a,.wg_box .hd_t a.ht_up{ background-image: url(../images/m_sprite.png); background-repeat:no-repeat;line-height:0;font-size:0;overflow:hidden;zoom:1; width:86px; height:29px; position:absolute; top:10px; right:55px; z-index:2;}
.wg_box .hd_t a.more{ position:absolute; right:-10px; top:15px;width:50px; height:21px; z-index:2; color:#4b2c18;}
.wg_box .hd_t a.more:hover{ color:#e9380f; text-decoration:none;}
.wg_box .hd_t a.ht_a{ background-position:-62px -32px;}
.wg_box .hd_t a.ht_a:hover{ background-position:-62px -62px;}
.wg_box .hd_t a.ht_up{ background-position:-149px -32px;}
.wg_box .hd_t a.ht_up:hover{ background-position:-149px -62px;}

/*m_intro*/
.m_intro{ position:relative; zoom:1;}
.m_intro .hd{ background:url(../images/intro_top.jpg) no-repeat; height:85px;}
.m_intro .fd{ background:url(../images/intro_b.jpg) no-repeat; height:85px;}
.m_intro .bd{ position:absolute; left:120px; top:57px; color:#5c5c5c; font-size:14px; text-indent:2em; width:630px; overflow:hidden;  text-align:left; line-height:23px;}
.m_intro .get_btn{ background:url(../images/get_btn.jpg) no-repeat; width:190px; height:119px; display:block; position:absolute; top:42px; right:13px; text-indent:-999em; overflow:hidden;}
.m_intro .get_btn:hover{ background-position:-192px 0;}

/*f_tlist*/
.f_tlist li{ color:#5C5C5C; border-bottom:1px dashed #E8C87B;}
.f_tlist li a{color:#5C5C5C;}

/*m_data*/
.m_data{ width:474px;}
.m_data .game_info{padding: 0 10px; zoom:1; overflow:hidden;}
.yxzl_bg{background: url(../images/m_game.jpg) no-repeat;padding: 5px 1px 0 72px;overflow: hidden; height:52px;}
.yxzl_bg dd{ float: left; width: 96%; padding:2px 5px; zoom:1 }
.yxzl_bg dt{ font-size:16px; color: #8f4d03; line-height: 1.2; font-weight: 700; text-align: center; /*background-repeat: no-repeat;*/ width:37px; height:45px; padding: 3px 20px 0 13px; float: left; margin:1px 0 0 -72px; display: inline; }
.yxzl_bg dd a{color:#005d52; margin:0 3px; display: inline-block; zoom:1; *display: inline; white-space:nowrap; line-height:1.8; }
.yxzl_bg dd a:hover{color:#6C0808}

/* 职业介绍 */
.m_career{ width:472px;}
.m_career .hd{ background-position:0 -222px; padding:0 29px; position:relative; height:41px;}
.m_career .lt{ background-position:0 -263px; background-repeat:repeat-x; display:block; height:41px;}
.m_career .rt{ background-position:right -304px;display:block; margin:-41px -29px 0 0; height:41px;}
.m_career .hd_t{ margin-bottom:-41px; height:29px; padding-top:12px; overflow:hidden; position:relative;}
.m_career .fd{ background-position:0 -345px; padding:0 29px;height:12px; overflow:hidden; zoom:1;}
.m_career .lb{ background-position:0 -357px; background-repeat:repeat-x;display:block;height:12px; overflow:hidden;}
.m_career .rb{ background-position:right -369px;display:block;margin:-12px -29px 0 0;height:12px;}
.m_career .bd_l{ background:url(../images/career_l.jpg) repeat-y 0 0;}
.m_career .bd_r{ background:url(../images/career_r.jpg) repeat-y right 0; padding:0 14px; overflow:hidden;}
.mod_tabSlide{ width:444px; overflow:hidden; height:192px; margin:0 auto;}
.mod_tabSlide dl{ float:left;}
.mod_tabSlide dt,.mod_tabSlide dd{ background-image:url(../images/mxw.jpg); background-position:no-repeat;  overflow:hidden; height:192px;}
.mod_tabSlide dt{ float:left; width:43px;text-indent:-999em;}
.mod_tabSlide dd{ float:left; width:137px; display:none;padding:80px 11px 0 167px; color:#5c5c5c;}
.role_xl dt{ background-position:0 0;}
.role_ms dt{ background-position:-43px 0;}
.role_dz dt{ background-position:-86px 0;}
.role_xl dd{ background-position:-129px 0;}
.role_ms dd{ background-position:-444px 0;}
.role_dz dd{ background-position:-759px 0;}
.mod_tabSlide .on dt{ display:block}
.mod_tabSlide .on dd{display:block}
.detail_more{ background:url(../images/m_sprite.png) 0 -91px; width:65px; height:20px; display:block; margin:10px 0 0 50px; color:#694100; line-height:20px; text-align:center;}
.detail_more:hover{ background-position:-66px -91px; text-decoration:none;}

/*mod_box*/
.dis_bx{ width:700px;}
.dis_bx .bd_r{ height:459px;}
.kefu_bx{ width:245px;}
.kefu_bx .bd_r{padding:20px 25px 25px; height:414px; overflow:hidden;}
.kefu_bx a{ margin-left:5px;}
.w474{ width:474px;}
.w474 .bd_r{ height:150px; overflow:hidden;}

/*图片切换*/
.tab_pic{ height:32px; position:relative; top:1px;}
.tab_pic li{ float: left; width:112px; height: 29px;}
.tab_pic li a,.tab_pic li.current a{ background: url(../images/m_sprite.png) no-repeat 0 0; display: block; height: 32px; line-height: 32px; font-size: 14px; color:#8F4D03; font-weight:700; padding-left:35px}
.tab_pic li.current a{ background-position: -112px 0; color:#8F4D03}
.tab_pic li a:hover{ text-decoration: none;}

.tab_scrollPic{ padding:20px 5px 0; zoom:1; height: 110px;}
.wg_imgscroll .arrow_left,.wg_imgscroll .arrow_right{ background-image: url(../images/m_sprite.png); background-repeat: no-repeat; display: block; width:30px; height:30px; position: absolute; cursor: pointer;top:30px; text-indent: -999em; overflow: hidden;}
.wg_imgscroll .arrow_left{ background-position: 0 -32px; left:0;}
.wg_imgscroll .arrow_right{ background-position: -30px -32px; right:0;}
.wg_imgscroll .bd{ position:absolute; left:30px;top:0px; width:834px; height:110px; overflow: hidden;}
.wg_imgscroll .disable{ display:none;}
.wg_imglist li{margin:0 5px 0 15px; width:118px;}

.footer{ padding:10px;line-height:1.5;}



