@charset "utf-8";
/* CSS Document 
Use for:	www.f2er.net
Version:	1.0
Date:		2011/04/10
Author:		情封
Update:     
*/

/* CSS reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
del, ins { text-decoration: none }
fieldset, img { border: 0; }
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei"}
input,select,img{ vertical-align:middle}
input,select{ outline:none}
ul,ol{ list-style:none }
label{ cursor:pointer}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address,cite,dfn,em,var{font-style:normal;}
input::-moz-focus-inner,button::-moz-focus-inner{ border:0;padding:0}

/* global */
body{ background:#fff; }
.wrapper{ margin:0 auto;text-align:left;width:1000px; }
td{ font-size:12px; line-height:160%;}
.left{ float:left }
.right{ float:right }
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.txthide{ text-indent:-999em;overflow:hidden; line-height:0; font-size:0}
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.clear{ clear:both }

/*common*/
body{ background:url(../images/body.png) repeat;}
.sj_wrap{ width:980px;margin:0 auto;text-align:left;}
.mt_1{ margin-top:20px;}
.sj_box{ border:1px solid #dedede;-webkit-border-radius:5px; padding:15px 20px;background:#fff;}
.sj_box .sj_hd{ border-bottom:1px solid #e0e0e0;padding-bottom:10px;}
.sj_box .sj_hd h2{ font-size:18px;color:#333;font-weight:400; float:left;}

.m_imglist{ /*overflow:hidden;*/letter-spacing:-4px;word-spacing:-4px; }
.m_imglist img{ -webkit-border-radius:5px;display: block; margin-bottom:5px; }
.m_imglist li{ /*float:left;*/display:inline-block;font-size:14px;letter-spacing:normal;word-spacing:normal; line-height:24px;white-space:nowrap;text-overflow:ellipsis;}
.m_imglist a{ color:#333; }

.m_txtlist{ padding-right:10px;}
.m_txtlist li{ overflow:hidden;padding:12px 0;border-bottom:1px dotted #d1d1d1;font-size:14px;}
.m_txtlist span{float:right;}
.m_txtlist a{color:#333;display: block;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
.m_txtlist a:before{content: "·"; padding-right:5px;}

/*滚动条*/
.scroll_box{ height:8px;position:relative;background:#f9fafb; margin-top:15px;
				-webkit-border-radius:5px;-webkit-box-shadow:-1px 1px 3px #d1d2d3 inset;
			}
.scroll_box .scroll_bar{ position:absolute;left:0;top:0;height:6px;border:1px solid #2b88e9;
				-webkit-border-radius:3px;overflow:hidden;
				background:-webkit-linear-gradient(top, #64d1ff, #2e8ff0 100%);
				-webkit-box-shadow:1px 1px 1px #8fdeff inset;
			}
			
::-webkit-scrollbar{width: 8px;height: 8px;}
::-webkit-scrollbar-track-piece{ background-color: #f9fafb;-webkit-border-radius: 6px;-webkit-box-shadow:1px -1px 3px #d1d2d3 inset;}
::-webkit-scrollbar-thumb:vertical{height: 6px;background:-webkit-linear-gradient(left, #2e8ff0, #64d1ff 100%);
									-webkit-border-radius: 6px;-webkit-box-shadow:1px 1px 1px #8fdeff inset;
									border:1px solid #2b88e9;
									}
::-webkit-scrollbar-thumb:horizontal{height: 6px;background:-webkit-linear-gradient(top, #64d1ff, #2e8ff0 100%);
									-webkit-border-radius: 6px;-webkit-box-shadow:1px 1px 1px #8fdeff inset;
									border:1px solid #2b88e9;
									}


/*sj_top*/
.sj_top{ background:-webkit-linear-gradient(top, #fff, #f3f3f3 100%);
		 height:63px;width:100%;border-bottom:1px solid #cecece;-webkit-box-shadow:-1px 0 -1px #fff inset;
		 position: fixed;top:0;left:0; z-index:12;
		}
.sj_top h1{ float:left; }
.nav{ float:left; margin:12px 0 0 85px; }
	.nav a{float:left;font-size:18px;color:#333; height:40px;width:127px;text-align:center;line-height:40px;color:#333;}
	.nav a.current,.nav a:hover{ background:-webkit-gradient(linear,0 0,0 bottom,from(#45b2f3),to(#2d8bea)); border:1px solid #2b88e9;
				-webkit-border-radius:20px;color:#fff;text-decoration: none;width:125px;height:38px;
			}

.sj_bannner{ background:url(../images/sj_bannner.png) no-repeat center top;height:270px;margin-top:63px;}

/*sj_r1*/
.sj_r1,.sj_r4{ overflow:hidden;}
.bx1{float:left;width:668px;}

.link{float:right;width:250px; margin-bottom:-10px;overflow:hidden;}
.link li{ margin-bottom:10px;}
.link a{ background-image:url(../images/link.png);font-size:26px; display:block; background-repeat:no-repeat;width:215px;padding:8px 0 0 35px;}
.link a{ background-position: 0 0;height:63px;color:#333;}
.link .appstore{ background-position: 0 -71px;height:62px;color:#fff;}
.link .appstore:active{ background-position: -250px -71px;}
.link a:hover{ text-decoration: none;}
.link a:active{ background-position: -250px 0}

.link span{ background-image:url(../images/ico.png);background-repeat:no-repeat;display:inline-block;vertical-align: middle;margin-right:10px;}
.appstore span{ background-position:-5px 0px;width:35px;height:45px;margin-right:25px;}
.wk span{ background-position:-50px -3px;width:54px;height:54px; }
.ts span{ background-position:-109px -3px;width:54px;height:54px; }
.bj span{ background-position:-167px -3px;width:54px;height:54px; }
.ss span{ background-position:-225px -3px;width:54px;height:54px; }

.bx2 .m_imglist{ margin-right:-50px;color:#333;}
.bx2 li{ padding-top:20px;width:168px;margin-right:25px;height:170px;}
.bx2 .m_imglist img{border:1px solid #d1d1d1;}
.bx2 li p{font-size:12px;}

.m_sil li{ padding-top:20px; margin-right:7px;width:128px;height:130px;}
.m_sil{margin-right:-40px;}
.m_sil img{ border:1px solid #fff;}

.bx3 .m_box{ width:935px; height:170px;overflow-x:auto;overflow-y:hidden;}
.bx3 .m_sil{ white-space:nowrap;}

.bx4 .sj_hd{ border-bottom:none; padding-bottom:0;}
.m_tab{ float: left; margin:-5px 0 0 20px; background:#f9fafb; width:590px;height:30px;-webkit-border-radius:30px;border-width:1px;boder-style:solid;border-color:#d3d4d5 #e0e1e2 #eeeff0 #e2e3e4;-webkit-box-shadow:1px 1px 3px #d3d4d5 inset;padding:5px;}
.m_tab li{float:left;color:#333;font-size:16px;}
.m_tab li span{ line-height: 28px;padding:0 23px;cursor:pointer;}
.m_tab li.current span{ height:28px;border:1px solid #d6d6d6;display:block;-webkit-border-radius:30px;
						background:-webkit-gradient(linear,0 0,0 bottom,from(#f8f8f8),to(#fefefe)); 
}

.bx5{ width:536px;float:left;}
.bx5 .sj_bd{ height:280px;overflow-y:auto;}
.bx5 .m_txtlist a{width:400px;}

.bx6{ width:340px;float:right;}
.bx6 .m_txtlist a{width:260px;}

.btn_group{float:right;font-size:14px;color:#333; text-align:center;line-height: 28px; width:80px;height:28px;border:1px solid #e7e7e7;-webkit-border-radius:20px;background:-webkit-gradient(linear,0 0,0 bottom,from(#f8f8f8),to(#fcfcfc));}
.btn_group:active{color:#0078cc;background:-webkit-gradient(linear,0 0,0 bottom,from(#f8f8f8),to(#fcfcfc));}
.btn_group:hover{ text-decoration: none;}

.foot{ background:#ebebeb;padding:20px 0;/*border-top:1px solid #e0e0e0;*/
		-webkit-box-shadow:0 1px 3px #e0e0e0 inset; line-height: 24px;
	}
.clink,.cr{ text-align:center;color:#787878;}
.clink a{ padding:0 10px;color:#787878;}
.cr span{ margin:0 10px;}

.mask{ position:absolute;left:0;top:0;background:#000;opacity:0.5;width:100%;height:100%}
/*sj_pop*/
.sj_pop{ position:fixed;width:854px;height:564px;left:50%;top:50%;margin:-285px 0 0 -430px;background:#fff;border:1px solid #ececec;-webkit-border-radius:5px;padding:3px;}
.sj_pop .sj_ipop{ background:#f4f4f4;-webkit-border-radius:5px;height:490px;padding:30px 35px 45px; }
.sj_pop .hd h2{color:#333;font-size:20px;}
.sj_pop .hd .info{color:#999; margin-top:5px;}
.sj_pop .hd span{ margin-right:20px;}
.sj_pop .bd{ background:#fff;border:1px solid #dedede;-webkit-border-radius:5px;margin-top:15px;padding:20px;height:400px;overflow-y:auto;overflow-x:hidden;}
.sj_pop .bd h3{ color:#333;font-size:16px;padding-bottom:10px;border-bottom:1px solid #dedede}
.sj_pop .content{ padding:10px 0;font-size:14px;line-height:2;}
.sj_pop .close{ background:url(../images/close.png) no-repeat;width:20px;height:23px;display:block;position:absolute;right:20px;top:20px;}


