@charset "utf-8";
/* CSS Document */

/*mod_box*/
.mod_box .mod_hd,.mod_box .mod_lt,.mod_box .mod_rt,.mod_box .mod_fd,.mod_box .mod_rb,.mod_box .mod_lb{height:35px; background-image:url(../images/mod_box.png); background-repeat:no-repeat;}
.mod_box .mod_hd{ background-position:0 0; padding:0 42px;}
.mod_box .mod_lt{ background-position:0 -35px; background-repeat:repeat-x;display:block;}
.mod_box .mod_rt{ background-position:right -70px;display:block;margin:-35px -42px 0 0}
.mod_box .mod_title{ margin-bottom:-35px; height:35px; line-height:35px;}
.mod_box .mod_fd{ background-position:0 -105px; padding:0 42px;height:30px;}
.mod_box .mod_lb{ background-position:0 -135px; background-repeat:repeat-x;display:block;height:30px;}
.mod_box .mod_rb{ background-position:right -165px;display:block;margin:-30px -42px 0 0;height:30px;}

.mod_box .mod_bd{ background:#f8fefe;}
.mod_box .mod_bdl{ background:url(../images/mod_box_l.png) repeat-y 0 0;}
.mod_box .mod_bdr{ background:url(../images/mod_box_r.png) repeat-y right 0;}

