@charset "utf-8";
/* CSS Document */

/*ui_box*/
.ui_box .ui_hd,.ui_box .ui_lt,.ui_box .ui_rt,.ui_box .ui_fd,.ui_box .ui_rb,.ui_box .ui_lb{height:35px; background-image:url(../images/mod_box.png); background-repeat:no-repeat;}
.ui_box .ui_hd{ background-position:0 0; padding:0 42px;}
.ui_box .ui_lt{ background-position:0 -35px; background-repeat:repeat-x;display:block;}
.ui_box .ui_rt{ background-position:right -70px;display:block;margin:-35px -42px 0 0}
.ui_box .ui_title{ margin-bottom:-35px; height:35px; line-height:35px;}
.ui_box .ui_fd{ background-position:0 -105px; padding:0 42px;height:30px;}
.ui_box .ui_lb{ background-position:0 -135px; background-repeat:repeat-x;display:block;height:30px;}
.ui_box .ui_rb{ background-position:right -165px;display:block;margin:-30px -42px 0 0;height:30px;}

.ui_box .ui_bd{ background:#f8fefe;}
.ui_box .ui_bdl{ background:url(../images/mod_box_l.png) repeat-y 0 0;}
.ui_box .ui_bdr{ background:url(../images/mod_box_r.png) repeat-y right 0;}

