/*add by Lj*/
/* 页面初始化 */

a{ color:#955627;}
a:hover{ color:#E8C478;}
.page_infomation{ font-size:14px; width:888px; margin:20px auto 0; padding:5px; border:1px solid #aaa;}

/* 以下为当前样式表里定义的样式属性 */
.picsbtn_l, .picsbtn_r{ background:url(../images/icon.png) no-repeat 0 -151px;}
.picsbtn_r{ background-position:-28px -151px;}
.picsbtn_l:hover{ background-position:-56px -151px;}
.picsbtn_r:hover{ background-position:-84px -151px;}
.picsul li img{ border:1px solid #825400;}
.picsul li.photo-Select img{ background:#cab485;}