@charset "utf-8";
*{ margin: 0; padding:0;}
@media screen and (max-device-width: 480px){
body{
  -webkit-text-size-adjust:none;
  font-family:Helvetica, Arial, Verdana, sans-serif;
}
}
.mod_yao{ width:100%; -webkit-background-size:contain;}
.yao{ background: url(../images/bg.png) no-repeat;max-width:640px; height:100%;-webkit-background-size:contain}
/*.mod_area{  height:650px;width: 584px; -webkit-background-size:contain;  position: relative;}
.control{ margin-top: 30px; position: relative;}
.button{ background: url(../images/btn.png) no-repeat; width:125px; height: 127px; -webkit-background-size:contain; border: none; text-indent: -999em; overflow: hidden; position: absolute;left:50%; margin-left: -62px;}
.s{ width:108px; height: 111px; background: url(../images/pointer.png) no-repeat;position: absolute;}
.s .is{ margin:8px 0 0 10px}
.s  img{-webkit-background-size:contain;}*/
