@charset "utf-8";
*{ margin: 0; padding:0;}
@media screen and (max-device-width: 480px){
	body{
	  -webkit-text-size-adjust:none;
	  background: url(../images/bg.png) no-repeat;
	  height:480px;
	}
}
img{
	max-width: 100%;
	height : auto;
}
.mod_yao{ width:100%; -webkit-background-size:contain;}
.yao{ background: url(../images/bg.png) no-repeat; height:480px;-webkit-background-size:contain}
.mod_area{  height:350px; -webkit-background-size:contain;  position: relative;}
.control{ margin-top: 30px; position: relative;}
.button{ background: url(../images/btn.png) no-repeat; height: 63px; -webkit-background-size:contain; border: none; text-indent: -999em; overflow: hidden; position: absolute;left:50%; margin-left: -62px;}
.s{ /*width:108px;*/ height: 111px;-webkit-background-size:contain; background: url(../images/pointer.png) no-repeat;position: absolute;}
.s .is{ margin:8px 0 0 10px}
.s  img{ max-width:100%;height:auto;}
