@charset "utf-8";
*{ margin: 0; padding:0;}

mg{
	max-width: 100%;
	height : auto;
}
.button{
	border: none;
	text-indent: -999em; 
	overflow: hidden; 
	position: absolute;
	left:50%;
}
/*iphone*/
@media only screen and ( max-width:480px ){
	body{
	  -webkit-text-size-adjust:none;
	  background: url(../images/bg.png) no-repeat;
	  max-width:480px;
	  height:480px;
	  -webkit-background-size:contain;
	}
	.mod_area{
		width:300px;
		height:350px;
		position:relative;
		background:#f00;
		-weikit-background-size:contain;
	}
	.control{
		margin-top:30px;
	}
	.button{
		background: url(../images/btn.png) no-repeat;
		width:125px;
		height:127px;
		margin-left: -15px;
		-weikit-background-size:contain;
	}
	.s{
		width:108px;
		height: 55px;
		background: url(../images/pointer.png) no-repeat;
		position: absolute;
		-weikit-background-size:contain;
	}
	.s  .is{ margin:4px 0 0 5px;}
	.s img{}
}

/*ipad*/
@media only screen and ( max-width:768px ){

}

