@charset "utf-8";
/* CSS Document 
Use for:	www.f2er.net
Version:	1.0
Date:		2011/04/10
Author:		情封
Update:     
*/

/* CSS reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
del, ins { text-decoration: none }
fieldset, img { border: 0; }
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,宋体,sans-serif}
input,select,img{ vertical-align:middle}
input,select{ outline:none}
ul,ol{ list-style:none }
label{ cursor:pointer}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address,cite,dfn,em,var{font-style:normal;}

/* global */
body{ font-family:"Microsoft YaHei"; background:#fafafa}
td{ font-size:12px; line-height:160%;}
.left{ float:left }
.right{ float:right }
a{text-decoration:none;}
a:visited{ color:#f58220}
a:hover{text-decoration:underline;}

.txthide{ text-indent:-999em;overflow:hidden; line-height:0; font-size:0}
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.clear{ clear:both }

.mt10{ margin-top:10px}

body{ font-family:"Microsoft YaHei"; background:#f4f4f4;
	-webkit-text-size-adjust:none;
}

/*m_bar*/
.m_bar{ padding:0 5px; overflow:hidden;background:url(../images/mobile.png) repeat-x 0 0;height:44px;}
.m_bar .logo{ float:left;margin-top:10px;background:url(../images/logo.png) no-repeat;width:138px;height:26px;}
.m_bar .m_login{ float:right; font-weight:700;font-size:14px; line-height:44px;}
.m_bar .m_login a{ color:#555;text-shadow:1px 1px 1px #fff; margin-left:10px;}

.m_list img{display:block;max-width:100%;}
.itunes{ background:url(../images/mobile.png) no-repeat 0 -45px;display:block;text-indent:-999em;overflow:hidden;}
.star{ background:url(../images/star.png) no-repeat 0 0;width:97px;height:16px; position:relative;overflow:hidden;}
.star .degree{background:url(../images/star.png) no-repeat 0 -18px;display:block; height:16px; position:absolute;left:0;top:0;}

/* iphone */
@media only screen and (-webkit-min-device-pixel-ratio:2) and (-webkit-max-width:480px) {
	
	.m_bar .m_login a{ margin-left:10px;}
	.itunes{ background-size:61px 21px;}
}

/* Large Viewports (iPad, wide windows) */
@media only screen and (min-device-width:768px) and (max-device-width:1024px),screen and (min-width:768px){
	.m_bar{ background:url(../images/mobile@2x.png) repeat-x 0 0;height:75px}
	.m_bar .logo{ background:url(../images/logo@2x.png) no-repeat;width:183px;height:37px;margin-top:20px;}
	.m_bar .m_login{ font-size:20px;line-height:75px;}
	.m_bar .m_login a{ margin-left:40px;}
	.itunes{ background:url(../images/mobile@2x.png) no-repeat 0 -75px;}
}

/* High Resolution Screens and Large Viewports (Retina iPad) */
/*@media only screen and (-webkit-min-device-pixel-ratio:2) and (min-device-width:768px) and (max-device-width:1024){
	.itunes{background:url(../images/mobile@2x.png) no-repeat 0 -75px; background-size:112px 42px;}
}*/




/*m_list*/
.m_list{ overflow:hidden;}
.m_list li{ padding:20px 150px 20px 20px;overflow:hidden; position: relative;border-width:1px 0;border-style:solid;border-color:#fff transparent #c3c3c3;}
.m_list li.even{ background:#e2e2e2;}
.m_list .img{ float:left;margin-right:20px;}
.m_list h2,.m_ginfo h2{ font-size:20px;line-height:2;}
.m_list h2 a{ color:#333;display:block;}
.m_list h2 a:hover{text-decoration:none;color:#ff6315;}
.m_list h2 span{ margin-left:20px;}
.m_list .desc{ line-height:24px;font-size:16px; margin-top:5px;text-shadow:1px 1px 1px #fff;}
.m_list .itunes{ position: absolute;right:20px;top:50px;}

.m_footer{font-size:12px; background:#eaeaea;padding:20px;text-align:center;line-height:2;text-shadow:1px 1px 1px #fff;}

/*m_detail*/
.m_detail{ text-shadow:1px 1px 1px #fff;}
.m_ginfo { overflow:hidden; padding:20px 150px 20px 160px; position: relative;border-bottom:1px solid #fff;}
.m_ginfo .img{ float:left; margin-left:-140px;}
.m_ginfo .parameter{ margin-top:10px;line-height:24px;font-size:14px;}
.m_ginfo .ditunes{ background:url(../images/mobile.png) no-repeat 0 -121px;width:100px;height:41px;position: absolute;right:20px;top:30px;text-indent:-999em;overflow:hidden;}

.m_imgview{ border-width:1px 0;border-style:solid;border-color:#bdbdbd transparent;padding:20px 9px;}

.m_desc{border-width:1px 0;border-style:solid;border-color:#fff transparent #bdbdbd;padding:20px; line-height:2;font-size:14px;}

.view{ width:600px;height:130px;position: relative; overflow: hidden;}
.m_imglist{ position: absolute;left:0;top:0; margin-right:-10px; }
.m_imglist li{ float:left; margin-right:4px;width:194px;}
.m_imglist img{ padding:2px;background:#fff;}

.num{ text-align:center; margin-top:10px;}
.num li{width:13px;height:13px;background:#c3c3c3;cursor:pointer;border-radius:10px;display:inline-block;vertical-align:middle;margin:0 3px;font-size:0;line-height:0;}
.num .cur{ background:#399eee;}