/**
 * Debug CSS by 情封
 * Author: uezheng@gmail.com
 * Version: 0.1
 * License: MIT
 */

/* inline style */
*[style]{outline:1px dotted #05c413 !important;}

/* empty attributes */
*[alt=""],*[title=""],*[class=""],*[id=""],a[href=""],a[href="#"]{outline:3px dotted #f00 !important;}

/* no width & height */
img:not([width]):not([height]){outline:5px dotted #00f !important;}

/* no alt */
img:not([alt]){outline:5px dotted #45d2c0 !important;}

/* empty elements */
div:empty,span:empty,li:empty,p:empty,td:empty,th:empty{padding:1em;background-color:#6854e2 !important;}

/* obsolete attributes */
html[version],
body[alink],body[link],body[text],body[vlink],body[background],body[bgcolor],
a[rev],a[charset],a[shape],a[coords],
img[longdesc],img[name],img[hspace],img[vspace],
object[archive],object[classid],object[codebase],object[codetype],object[declare],object[standby],
table[bgcolor],table[bgcolor],table[width],table[summary],table[cellpadding],table[cellspacing],table[rules],table[frame],
td[axis],td[abbr],th[axis],th[abbr],td[scope],td[height],th[height],td[width],th[width],tr[bgcolor],td[bgcolor],th[bgcolor],td[nowrap],th[nowrap],
caption[align],iframe[align],img[align],input[align],object[align],legend[align],table[align],hr[align],div[align],h1[align],h2[align],h3[align],h4[align],h5[align],h6[align],p[align],col[align],colgroup[align],tbody[align],td[align],tfoot[align],th[align],thead[align],tr[align],
col[valign],colgroup[valign],tbody[valign],td[valign],tfoot[valign],th[valign],thead[valign],tr[valign],
col[width],colgroup[width],pre[width],
col[char],colgroup[char],tbody[char],td[char],tfoot[char],th[char],thead[char],tr[char],
col[charoff],colgroup[charoff],tbody[charoff],td[charoff],tfoot[charoff],th[charoff],thead[charoff],tr[charoff],
dl[compact],menu[compact],ol[compact],ul[compact],
hr[noshade],hr[size],hr[size],hr[width],
iframe[marginheight],iframe[marginwidth],iframe[scrolling],iframe[frameborder],iframe[longdesc],
object[border],object[hspace],object[vspace],
ul[type],ol[type],li[type],area[nohref],
br[clear]{border:1px solid #ec62f5 !important;}

/* obsolete elements */
applet,basefont,center,dir,font,isindex,strike,xmp,big,tt,acronym{outline:10px solid #759114 !important;}