@charset "utf-8";
/* CSS Document 
Use for:	
Version:	1.0
Date:		2011/04/10
Author:		情封
Update:     
*/

/* CSS reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
del, ins { text-decoration: none }
fieldset, img { border: 0; }
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,宋体,sans-serif}
input,select,img{ vertical-align:middle}
input,select{ outline:none}
ul,ol{ list-style:none }
label{ cursor:pointer}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address,cite,dfn,em,var{font-style:normal;}
input::-moz-focus-inner,button::-moz-focus-inner{ border:0;padding:0}

/* global */
body{ background:#f0efe4; }
.wrapper{ margin:0 auto;text-align:left;width:1000px; }
td{ font-size:12px; line-height:160%;}
.left{ float:left }
.right{ float:right }
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.txthide{ text-indent:-999em;overflow:hidden; line-height:0; font-size:0}
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.clear{ clear:both }

.full_tp{ background:url(../images/full_tp.jpg) no-repeat center top;}
.full_btm{ background:url(../images/full_btm.jpg) no-repeat center bottom;}

.header{ height:312px;}
.hd1{ background:url(../images/hd1.jpg) no-repeat; height:104px;}
.hd2{ background:url(../images/hd2.jpg) no-repeat; height:104px;}
.hd3{ background:url(../images/hd3.jpg) no-repeat; height:104px;}

.main{ width:650px; margin:0 auto;}

.img1{ background:url(../images/img1.jpg) no-repeat; height:184px;}
.img2{ background:url(../images/img2.jpg) no-repeat; height:183px;}
.img3{ background:url(../images/img3.jpg) no-repeat; height:184px;}
.img4{ background:url(../images/img4.jpg) no-repeat; height:183px;}
.img5{ background:url(../images/img5.jpg) no-repeat; height:184px;}
.img6{ background:url(../images/img6.jpg) no-repeat; height:184px;}
.img7{ background:url(../images/img7.jpg) no-repeat; height:183px;}
.img8{ background:url(../images/img8.jpg) no-repeat; height:184px;}
.img9{ background:url(../images/img9.jpg) no-repeat; height:183px;}
.img10{ background:url(../images/img10.jpg) no-repeat; height:184px;}
.img11{ background:url(../images/img11.jpg) no-repeat; height:183px;}
.img12{ background:url(../images/img12.jpg) no-repeat; height:184px;}

.footer{background:url(../images/footer.png) no-repeat; height:141px;}


