/* CSS reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
del, ins { text-decoration: none }
fieldset, img { border: 0; }
button,input,select,textarea{font:12px tahoma,arial,\5b8b\4f53;}
input,select,img{ vertical-align:middle}
input,select{ outline:none}
ul,ol{ list-style:none }
label{ cursor:pointer}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address,cite,dfn,em,var{font-style:normal;}

/* global */
body{ background:#fff; font:12px/1.5 Arial,SimSun; }

td{ font-size:12px; line-height:160%;}
.left{ float:left }
.right{ float:right }
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.txthide{ text-indent:-999em;overflow:hidden; line-height:0; font-size:0}
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.clear{ clear:both }


.sns_nav{ position:relative; top:3px; zoom:1; padding-left:50px; overflow:hidden;}
.sns_nav li{ float:left; margin-right:10px; display:inline;}
.sns_nav li a{ background-image:url(../images/ul.png); background-repeat:no-repeat; width:120px; height:39px; display:block; text-indent:-999em; overflow:hidden}
.ms1{ background-position:0 0}
.ms1:hover{ background-position:0 -40px}
.ms2{ background-position:-120px 0}
.ms2:hover{ background-position:-120px -40px}
.ms3{ background-position:-240px 0}
.ms3:hover{ background-position:-240px -40px}
.ms4{ background-position:-360px 0}
.ms4:hover{ background-position:-360px -40px}

/*update by  yufang 12-02-29 */
.sns_textscroll{ padding:0 0 8px 100px; width:522px;  height:24px; overflow:hidden; line-height:24px;}
.text_scroll_bx{ height:24px;width:470px; overflow:hidden;}


.ser_out_face{width:622px; height:500px; position:absolute; left:50%; margin-left: -311px; top:150px;}
.out_face_hd,.out_face_bd,.out_face_fd{ background-image:url(../images/out_face_bg.png); background-repeat:no-repeat;}
.out_face_hd{ padding:8px 0 0;}
.out_face_bd{ background-position:-622px 0; padding:0 13px; background-repeat:repeat-y;}
.out_face_fd{ background-position:-1244px bottom; height:30px;}
/* add by  yufang 12-02-29 */
.out_face_hd .sns_textscroll h2{ float:left; *display:inline; margin-left:-75px; }

/*sns_box*/
.sns_service  .sns_hd,.sns_service  .sns_bd,.sns_service  .sns_fd{ background-image:url(../images/bgsprite.png); background-repeat:no-repeat;}
.sns_service  .sns_hd{ background-position:0 0; width:596px; height:20px; color:#318fd2; overflow: hidden;}


.sns_service  .sns_hd a{ color:#318fd2; overflow:hidden;}
.sns_service  .sns_hd a:hover{ color:#ff0000}

.sns_service  h2{ background-image:url(../images/server_box.png); background-repeat:no-repeat;height:35px; width: 144px; text-indent:-999em; overflow:hidden;}
.sns_service  .recommend_server h2{ background-position:0 0; }
.sns_service  .all_server h2{ background-position:-144px 0;  overflow:hidden;}

.sns_service  .sns_bd{ background-position:-596px 0; width:581px; padding-left:15px; background-repeat:repeat-y;}
.sns_service  .sns_bd a:hover{ text-decoration:none;}
.sns_service  .server_box{ height:160px; position:relative; zoom:1; overflow:hidden;width:575px;}

.sns_service  .server_list{ padding-left:30px;}
.sns_service  .server_list li{  float: left; width:245px; height:33px;margin:0 10px 10px 0; display: inline;}
.sns_service  .server_list a{width:245px; background-image:url(../images/server_box.png);font-size:14px; text-align: center; background-repeat:no-repeat; color:#ffffe7; font-weight:700; display:block; height:29px;line-height:29px; overflow:hidden; position:relative;  background-position:0 -96px;}
.sns_service  .server_list a:hover{ background-position:-247px -96px;}
.sns_service  .new_ico{background:url(../images/new_ico.png) no-repeat ; width:32px; height:28px; display:block; position:absolute; left:1px; top:0}
.sns_service  .recommon a{ background-position:0 -36px;}
.sns_service  .recommon a:hover{ background-position:-247px -36px;}
.sns_service  .weihu a ,.sns_service  .nopen a{  color:#555; padding:0 50px 0 20px; width: 175px; text-align: center}
.sns_service  .weihu a{ background-position:0 -66px;}
.sns_service  .weihu a:hover{ background-position:-247px -66px;}
.sns_service  .nopen a{ background-position: 0 -126px; color:#555;}
.sns_service  .nopen a:hover{ background-position:-247px -126px;}
.sns_service .crowd a{ background-position:0 -156px;}
.sns_service .crowd a:hover{ background-position:-247px -156px;}
.sns_service  .sns_fd{background-position:-1192px bottom; width:596px; height:40px;}

/*scrollbar*/
.jScrollPaneContainer {overflow: hidden;position: relative;z-index: 1;}
.jScrollPaneTrack { background: #1a80bb;cursor: pointer; height: 100%;position: absolute;right: 0;top: 0;}
.jScrollPaneDrag {background:#50d6f9;cursor: pointer;overflow: hidden;position: absolute;}
.jScrollPaneDragTop { left: 0; overflow: hidden;position: absolute;top: 0;}
.jScrollPaneDragBottom {bottom: 0;left: 0; overflow: hidden; position: absolute;}
a.jScrollArrowUp { display: block; height: 12px; overflow: hidden; position: absolute; right: 0; text-indent: -2000px; top: 0; z-index: 1;}
a.jScrollArrowDown { bottom: 0; display: block;  height: 12px; overflow: hidden; position: absolute; right: 0; text-indent: -2000px; z-index: 1;}
a.jScrollArrowUp { background:url(../images/server_box.png) no-repeat  -288px 0;}
a.jScrollArrowDown { background: url(../images/server_box.png) no-repeat  -305px 0    ;}
a.jScrollArrowUp:hover { background-position: -288px -12px;}
a.jScrollArrowDown:hover { background-position: -305px -12px;}
.orange-bar .jScrollPaneTrack { background: none repeat scroll 0 0 #e3dab5;}
.orange-bar .jScrollPaneDrag { background: 50% 50% #c88d00;}
.orange-bar .scroll-pane { background: none repeat scroll 0 0 #6699FF;}


