@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
del, ins { text-decoration: none }
fieldset, img { border: 0; }
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,宋体,sans-serif}
input,select,img{ vertical-align:middle}
input,select{ outline:none}
ul,ol{ list-style:none }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address,cite,dfn,em,var{font-style:normal;}
input::-moz-focus-inner,button::-moz-focus-inner{ border:0;padding:0}

/* global */
body{ background:#fff; }
.wrapper{ margin:0 auto;text-align:left;width:1000px; }
td{ font-size:12px; line-height:160%;}
.left{ float:left }
.right{ float:right }
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.txthide{ text-indent:-999em;overflow:hidden; line-height:0; font-size:0}
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.clear{ clear:both }

.page_wrapper{ width:980px; margin:0 auto;}
/*my头部*/
.mod_header{}
.mod_header a{ color:#00579F}
.mod_header a:hover{ color:#1068C5}
.mod_top,.mod_header_l,.mod_header_r{ background:url(../images/mod_public.png) no-repeat; height:50px;}
.mod_top{ background-repeat:repeat-x; background-position:0 -50px; margin:0 5px;}
.mod_header_l,.mod_header_r{ display:inline; margin-top:-50px;}
.mod_header_l{ background-position:left 0; float:left; width:10px;}
.mod_header_r{ background-position:right -100px; float:right; width:5px;}
.mod_logo,.mod_nav{ float:left; display:inline;}
.mod_logo{ margin:8px 5px 0 10px;}
.mod_nav{ margin:20px 0 0 0;}
.mod_nav li{ float:left; font-weight:700; font-size:14px; margin:0 7px; display:inline}
.mod_uinfo{ float:right; padding:7px 0 0 36px; line-height:20px; }
.mod_avatar{ float:left; margin:5px 0 0 -36px; display:inline; background:url(../images/avtbg.gif) no-repeat; width:22px; height:22px; padding:2px}
.mod_ulinks a{ margin-right:10px; zoom:1; display:inline-block; zoom:1;*display:inline;}
.mod_nav li.mod_notify{ background:url(../images/notify_bg.gif) no-repeat; width:75px; height:20px; line-height:20px; font-size:12px; font-weight:400; padding-left:15px; margin-top:3px;}
.mod_nav li.mod_notify a{ color:#fff;}
.mod_nav li.mod_notify a:hover{ color:#fff}
.mod_panel{ float:right; padding:7px 20px 0 0; line-height:43px}
.mod_panel a{ margin-left:10px; zoom:1}

/*选服框*/
.wg_server{width:623px; height:375px; position:absolute; left:50%; margin-left: -311px; top:190px;}
.wg_server_hd,.wg_server_bd,.wg_server_yd{ background-image:url(../images/out_face_bg.png); background-repeat:no-repeat;}
.wg_server_hd{ padding:8px 0 0 43px;}
.wg_server_bd{ background-position:-623px 0; padding:0 13px; background-repeat:repeat-y;}
.wg_server_yd{ background-position:-1246px bottom; height:30px;}

/* sns_textscroll */
.sns_textscroll{ padding:0 0 8px 75px; width:481px;  height:24px; overflow:hidden; line-height:24px;}
.text_scroll_bx{ height:24px;width:470px; overflow:hidden;}
.sns_textscroll h2{ float:left; *display:inline; margin-left:-75px; color:#805933; font-weight:bold; }

/*sns_box*/
.sns_service .sns_hd,.sns_service  .sns_bd,.sns_service  .sns_fd{ background-image:url(../images/bgsprite.png); background-repeat:no-repeat;}
.sns_service .sns_hd{ background-position:0 0; width:596px; height:10px; color:#318fd2; overflow: hidden;}
.sns_service .sns_hd a{ color:#318fd2; overflow:hidden;}
.sns_service .sns_hd a:hover{ color:#ff0000}
.sns_service h2{ background-image:url(../images/server_box.png); background-repeat:no-repeat;height:35px; width: 144px; text-indent:-999em; overflow:hidden;}
.sns_service .recommend_server h2{ background-position:0 0; }
.sns_service .all_server h2{ background-position:-144px 0;  overflow:hidden;}
.sns_service .sns_bd{ background-position:-596px 0; width:581px; padding-left:15px; background-repeat:repeat-y;}
.sns_service .sns_bd a:hover{ text-decoration:none;}
.sns_service .server_box{ height:160px; position:relative; zoom:1; overflow:hidden;width:575px;}
.sns_service .server_list{ padding-left:30px;}
.sns_service .server_list li{  float: left; width:245px; height:33px;margin:0 10px 10px 0; display: inline;}
.sns_service .server_list a{width:245px; background-image:url(../images/server_box.png);font-size:14px; text-align: center; background-repeat:no-repeat; color:#ffffe7; font-weight:700; display:block; height:29px;line-height:29px; overflow:hidden; position:relative;  background-position:0 -96px;}
.sns_service .server_list a:hover{ background-position:-247px -96px;}
.sns_service .new_ico{background:url(../images/new_ico.png) no-repeat ; width:32px; height:28px; display:block; position:absolute; left:1px; top:0}
.sns_service .recommon a{ background-position:0 -36px;}
.sns_service .recommon a:hover{ background-position:-247px -36px;}
.sns_service .weihu a ,.sns_service  .nopen a{  color:#555; padding:0 50px 0 20px; width: 175px; text-align: center}
.sns_service .weihu a{ background-position:0 -66px;}
.sns_service .weihu a:hover{ background-position:-247px -66px;}
.sns_service .nopen a{ background-position: 0 -126px; color:#555;}
.sns_service .nopen a:hover{ background-position:-247px -126px;}
.sns_service .crowd a{ background-position:0 -156px;}
.sns_service .crowd a:hover{ background-position:-247px -156px;}
.sns_service .sns_fd{background-position:-1192px bottom; width:596px; height:20px;}

/*scrollbar*/
.jScrollPaneContainer {overflow: hidden;position: relative;z-index: 1;}
.jScrollPaneTrack { background: #b29142;cursor: pointer; height: 100%;position: absolute;right:5px;top: 0;}
.jScrollPaneDrag {background:#f5f8c9;cursor: pointer;overflow: hidden;position: absolute;}
.jScrollPaneDragTop { left: 0; overflow: hidden;position: absolute;top: 0;}
.jScrollPaneDragBottom {bottom: 0;left: 0; overflow: hidden; position: absolute;}
a.jScrollArrowUp { display: block; height: 12px; overflow: hidden; position: absolute; right: 5px; text-indent: -2000px; top: 0; z-index: 1;}
a.jScrollArrowDown { bottom: 0; display: block;  height: 12px; overflow: hidden; position: absolute; right: 5px; text-indent: -2000px; z-index: 1;}
a.jScrollArrowUp { background:url(../images/server_box.png) no-repeat  -288px 0;}
a.jScrollArrowDown { background: url(../images/server_box.png) no-repeat  -305px 0    ;}
a.jScrollArrowUp:hover { background-position: -288px -12px;}
a.jScrollArrowDown:hover { background-position: -305px -12px;}
.orange-bar .jScrollPaneTrack { background: none repeat scroll 0 0 #e3dab5;}
.orange-bar .jScrollPaneDrag { background: 50% 50% #c88d00;}
.orange-bar .scroll-pane { background: none repeat scroll 0 0 #6699FF;}

/*wg_box*/
.wg_box .hd,.wg_box .lt,.wg_box .rt,.wg_box .fd,.wg_box .rb,.wg_box .lb{height:35px; background-image:url(../images/mod_box.png); background-repeat:no-repeat;}
.wg_box .hd{ background-position:0 0; padding:0 42px;}
.wg_box .lt{ background-position:0 -35px; background-repeat:repeat-x;display:block;}
.wg_box .rt{ background-position:right -70px;display:block;margin:-35px -42px 0 0}
.wg_box .hd_t{ margin-bottom:-35px; height:35px;}
.wg_box .fd{ background-position:0 -105px; padding:0 42px;height:30px;}
.wg_box .lb{ background-position:0 -135px; background-repeat:repeat-x;display:block;height:30px;}
.wg_box .rb{ background-position:right -165px;display:block;margin:-30px -42px 0 0;height:30px;}
.wg_box .bd{ background:#f8fefe;}
.wg_box .bd_l{ background:url(../images/mod_box_l.png) repeat-y 0 0;}
.wg_box .bd_r{ background:url(../images/mod_box_r.png) repeat-y right 0;}

/*wg_imgscroll*/
.wg_imgscroll{ position: relative;  height:130px; overflow: hidden;}
.wg_imgscroll textarea{ display:none;}
.wg_imgscroll .arrow_left,.wg_imgscroll .arrow_right{ background-image: url(../images/m_sprite.png?v=5084); background-repeat: no-repeat; display: block; width:30px; height:30px; position: absolute; cursor: pointer;top:30px; text-indent: -999em; overflow: hidden;}
.wg_imgscroll .arrow_left{ background-position: 0 -32px; left:0;}
.wg_imgscroll .arrow_right{ background-position: -30px -32px; right:0;}
.wg_imgscroll .bd{ position:absolute; left:35px;top:0px; width:900px; height:110px; overflow: hidden;}

/*wg_imglist*/
.wg_imglist li{float: left; line-height: 2; text-align: center;  display: inline;white-space: nowrap; overflow: hidden; width:120px;margin-right:30px; padding:0; }
.wg_imglist li a{ background:url(../images/screen_pic_bg.png) center 0 no-repeat; display:table-cell; height:110px; text-align:center; vertical-align:middle; width:108px; overflow:hidden;*display: block;*font-size:96px;*font-family:Arial;}
.wg_imglist li img{vertical-align:middle;}

/*wg_kf*/
.wg_kf p{ color:#5c5c5c; height:26px; padding:3px 0;}

/*wg_textlist*/
.wg_textlist{ line-height: 2;}
.wg_textlist li{ height:24px;white-space: nowrap;overflow: hidden; border-bottom:1px dotted #003D5E;}
.wg_textlist a{ color:#AA9155;display:block; width:280px;}
.wg_textlist span{ float: right; color:#666;}
.wg_textlist img{ margin-left:5px;}

/*wg_table*/
.wg_table th,.wg_table td{ padding:3px 5px; color:#5c5c5c; text-align:left;}
.wg_table td a{color:#5c5c5c}
.wg_table td a:hover{ color:#e9380f}
.wg_table li{ padding:3px 5px; color:#5c5c5c; zoom:1; overflow:hidden; border-bottom:dashed 1px #e8c87b;}
.wg_table li span{ float:right; width:60px; height:19px; overflow:hidden; text-align:right;}
.wg_table li a{color:#5c5c5c; width:345px; height:19px; overflow:hidden; display:block;}
.wg_table .title{ width:270px; overflow:hidden; height:23px; line-height:23px;}
.wg_table li a:hover{ color:#e9380f}
.wg_table tr.hover td{ background:#fefbeb;}

/*footer*/
.footer{ padding:10px 0; zoom:1}
.mod_server{ color:#555; line-height:2}
.mod_phone{ color:#888}
.mod_phone span{ margin-right:10px;}


