@charset "gb2312";
/* CSS Document */

/*===============add by f2er 11-12-22========================*/
.ue_login{ background:#000; padding:5px; width:394px;}
.ue_login .ue_login_hd,.ue_login .ue_login_bd,.ue_login .ue_login_bd_t,.ue_login .ue_login_b{ background-image:url(../images/skin_3/ue_bg.jpg); background-repeat:no-repeat;}
.ue_login .ue_login_hd{ background-position:0 0; height:47px;}
.ue_login .ue_login_bd{ background-position:-788px 0; background-repeat:repeat-y}
.ue_login .ue_login_bd_t{ background-position:-394px top;}
.ue_login .ue_login_b{ background-position:-1182px bottom; padding:5px; width:384px;}

.ue_login_tab{ overflow:hidden; zoom:1; padding:6px 0 0 45px; height:41px;}
.ue_login_tab li{ float:left; margin-right:10px; display:inline}
.ue_login_tab li span,.ue_login_tab li.cur span{ background-image:url(../images/skin_3/ue_btn.jpg); background-repeat:no-repeat; float:left; width:145px; height:36px; display:inline; cursor:pointer; text-indent:-999em; overflow:hidden}
.ue_r{ background-position:0 0}
.ue_login_tab li.cur .ue_r{ background-position:0 -36px;}
.ue_l{ background-position:-145px 0}
.ue_login_tab li.cur .ue_l{ background-position:-145px -36px;}


