@charset "utf-8";
/* CSS Document 
Use for:	dm.4399.com
Version:	1.0
Date:		2012/04/10
Author:		情封
Update:     
*/

.demo_wrapper{ width:960px;margin:60px auto;}
.demo_box{ margin-top:20px;}
.demo_title{ height:32px;background:#29a4cf;color:#fff; line-height: 32px; border-radius: 5px;border:1px solid #fff; padding:0 10px;}
.demo_content{ margin-bottom:20px; position: relative;}

.w340{ width:340px;}
.w113{ width:113px;}
.mt15{ margin-top:15px;}

/*查看源代码*/
.look_reource{ width:80px;height:24px; line-height:2;text-align:center;color:#000;cursor:pointer;background:#a0ddf2;border:1px solid #a0ddf2;border-radius: 5px; position: absolute;right:10px;top:20px;display: none;}
.demo_content:hover .look_reource{ display: block;}
.demo_resource{ margin:15px 0;display:none;}





