@charset "utf-8";
/* CSS Document 
Use for:	dm.4399.com
Version:	1.0
Date:		2012/04/10
Author:		情封
Update:     
*/

/* CSS reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
del, ins { text-decoration: none }
fieldset, img { border: 0; }
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,宋体,sans-serif}
input,select,img{ vertical-align:middle}
input,select{ outline:none}
ul,ol{ list-style:none }
label{ cursor:pointer}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address,cite,dfn,em,var{font-style:normal;}
input::-moz-focus-inner,button::-moz-focus-inner{ border:0;padding:0}

/* global */
body{ background:#fff; }
.wrapper{ margin:0 auto;text-align:left;width:1000px; }
td{ font-size:12px; line-height:160%;}
.left{ float:left }
.right{ float:right }
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.txthide{ text-indent:-999em;overflow:hidden; line-height:0; font-size:0}
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.clear{ clear:both }

.dm_wrapper{ width:980px;margin:0 auto;text-align:left;}

/*dm_imgtext*/
.dm_imgtext{ padding:0 0 0 122px;zoom:1;overflow: hidden;}
.dm_imgtext .img{ float:left;display:inline;margin-left:-122px;width:112px;}
.dm_imgtext .img img{ padding:2px;background:#fff;border:1px solid #A5B987}
.dm_imgtext h3{ height:20px;line-height: 20px;}
.dm_imgtext a{ color:#78A200}
.dm_imgtext .text{ position: relative;line-height: 20px;color:#666}
.dm_imgtext .text .more { position: absolute;right:0;bottom:0}
.dm_imgtext .text .time{ position:absolute;right:0;top:-20px;}

/*dm_imgtitle*/
.dm_imgtitle{ white-space: nowrap;overflow: hidden;display:block; color:#666}
.dm_imgtitle img{ display:block; padding:2px;border:1px solid #c1c1c1;background:#fff; margin:0 auto;}

/*dm_titleimg*/
.dm_titleimg{}
.dm_titleimg dt{ font-size:14px;line-height: 2}
.dm_titleimg dt a{ color:#0B99C2}
.dm_titleimg .img{ float:left;display:inline; margin:0 10px 0 0;}
.dm_titleimg .img img{ padding:2px;border:1px solid #c7c7c7}
.dm_titleimg .text{ line-height: 2;color:#7E8387}

/*dm_rimg*/
.dm_rimg{}
.dm_rimg li{ height:20px;line-height: 20px;padding:5px 0 4px 40px; position: relative;}
.dm_rimg span{color:#00c3ed;font: 700 18px/20px arial,simsun;position:absolute;left:10px;top:5px;}
.dm_rimg a{color:#7e8387}
.dm_rimg .imgview{ position: absolute;right:0;top:0;display:none;}
.dm_rimg .imgview img{ display: block;height:47px;padding:3px;width:82px;vertical-align: top;}
.dm_rimg .current{ background:#cef7ff;height:35px;overflow:hidden;padding:10px 95px 10px 40px;}
.dm_rimg .current a{ color:#ff9000}
.dm_rimg .current span{ top:10px;color:#ff9000}
.dm_rimg .current .imgview{display:block;}
.dm_rimg .current img{ border:1px solid #cea300;background:#fff;}

/*dm_textlist*/
.dm_textlist{ line-height: 2;}
.dm_textlist li{ height:24px;white-space: nowrap;overflow: hidden;}
.dm_textlist a{ color:#AA9155;}
.dm_textlist span{ float: right; color:#666;}
.dm_textlist img{ margin-left:5px;}

/*dm_topbar*/
.dm_topbar,.dm_tbr,.dm_topbar li,.dm_topbar .nav,.dm_topbar li a:hover,.dm_topbar .favorite,.dm_topbar .contributors{ background-image:url(../images/dm_topbar.png);background-repeat: no-repeat;}
.dm_topbar,.dm_tbr{ background-position: 0 0;background-repeat:repeat-x;height:31px; line-height:31px;border-bottom:1px solid #bfbfbf;}
.dm_tbr{ width:960px;margin:0 auto;padding:0 10px}
.dm_topbar .favorite,.dm_topbar .contributors{ float:right; background-position: -259px -93px;margin:5px 5px 0 0;display:inline;width:84px;height:22px;text-indent:-1024em;overflow:hidden;cursor:pointer;}
.dm_topbar .contributors{ background-position:-196px -93px;width:63px;}
.dm_topbar .nav{ float:left;background-position:right -62px;; padding-right:200px; }
.dm_topbar .dm_logo{ float:left;display:inline; margin:3px 10px 0 0;}
.dm_topbar li{ float:left;background-position:-343px -93px;padding:0 0 0 2px;}
.dm_topbar li a{ padding:0 7px 0 6px;color:#1797cc;display:block;}
.dm_topbar li a:hover{ background-position: 0 -31px;background-repeat: repeat-x; text-decoration: none;}